*{
    margin: 0;
    overflow: hidden;
}
.page{
    display: flex;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: 1vw;
    height: 5vh;
}

hr{
    border-radius: 1px;
    height: 0.1px;
}

.main{
    padding: 20px;
    background-color: red;
    height: 80vh;
    width: 100%;
}

.footer{
    text-align: center;
    background-color: blue;
    width: 100%;
    height: 10vh;
}