/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #020202, #1a1a1a, #2d2d2d, #404040, #555555);
  color: #e0e0e0;
}

.capa {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #020202;
  padding-bottom: 10px;
  font-size: x-large;
} 

header {
  font-size: larger;
  padding: 1rem 0;
  text-align: center;
}

header nav a {
  color: #bbb;
  margin: 0 15px;
  text-decoration: none;
}

header nav a:hover {
  color: #fff;
}

.livro {
  display: grid;
  grid-template-columns: 40% 60%;
}

.itens-livro{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #1a1a1a, #2d2d2d, #404040, #555555);
  border-radius: 10px;
  width: 100%;
  margin-top: 2vh;
  gap: 0;
}

.itens-livro > button {
  border: 0;
  background-color: transparent;
  margin-left: 1vw;
  color: #e0e0e0;
  font-size: 18px;
}

.itens-livro > button:hover {
  color: #555555;
}

button.active {
  color: #004fa3;
  font-weight: bold;
}


.banner {
  text-align: center;
  padding: 2rem;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.sinopse, .content {
  padding: 5% 20% 20% 0%;
  font-size: x-large;
}

.content {
  margin: auto;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 0;
  border-radius: 8px;
}

.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #005fa3;
}


section {
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

footer{
  text-align: center;
}

#scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#scrollTop:hover {
  background: #555;
}
